body{
	background-color: white;

}
ul{
	list-style: none;
}

#fixed{
	position: relative;
	width: 100%;

}
nav{
	padding-right: 125px;
	padding-left: 108px;
	font-size: 14px;

}
.link{
	float: right;
	text-decoration:none;
	margin-left:30px; 
}