
@import url('https://fonts.googleapis.com/css?family=Roboto|Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400');

*{
	padding: 0;
	margin: 0;
}
body{
	background-color: white;
	margin-right: 0%;
	margin-left: 0%;
	margin-top: -5%;
	font-size: 16px;


}
h2{
	font-family: 'Quicksand', sans-serif;
	font-weight: 100;
	letter-spacing: 2px;
	margin-bottom: 0;
	margin-top: 0;

}

ul{
	list-style: none;
	margin: 0;
}
/*top navigation settings*/
header{
	position: fixed;
	top: 0;
	z-index: 1;
	margin-top: 0;
	width: 100%;
	height: 12%;
	overflow: hidden;
	border-bottom: none;
	background-color: white;
}
/*nav container for positioning*/
nav{
	padding-right: 5%;
	padding-left: 5%;
	font-size: .75em;
	height: 100%;
}

/*Right nav positioning*/
nav a{
	float: right;
	text-decoration:none;
	margin-left:2%; 
	margin-top: 5%;
	text-align: center;
	display: inline-block;

}
/*right side nav font styles*/
.navLinks a{
	font-family: 'Roboto', sans-serif;
  	text-transform: uppercase;
 	letter-spacing: .25em;
}

/*left side nav home button position and style*/
.name a{
  float: left;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: .25em;
  margin-left: 0;
}
/*hero splash page*/
section.parallax-1{
	background: url("../images/hero.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 100vh;
	margin-top: 5%;
}
/*hero container*/
.container{
	display: block;
	height: 40%;
	margin: 0 auto;
	width: 50%;
	padding-top: 48vh;
	text-align: center;
}
#heroIntro{
	height: 27%;
/*	height: 0;*/
}
#heroIntro h1{
	font-family: 'Slabo 27px',serif;
	width: 50%;
	border: 2px solid white;
	text-align: center;
	color: white;
	margin:auto;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 1.5em;
}
#heroButton{
	/*height: 25%;*/

}

#heroButton a{
	text-decoration: none;
	font-size: 4.5em;


}
/*work portfolio section*/
section.workSection{

	width: 100%;
	background-color: white;
	background-size: auto;
	padding-bottom: 3%;

}
.wrapper{
	width: 90%;
	padding-left: 7%;
	padding-top: 5%;
	margin-left: 1.5%;
	background-color: white;
	min-width: 60%;
	max-width: 100%;

}
.wrapper h2{
	margin: 0 auto;
	width: 80%;
	text-align: center;
	margin-left: 3.2em;
	padding-bottom: 1em;
	color:#808080;
}
/*work box*/
.project{
	float: left;
	width: 18em;
	height: 18em;
	margin-right: 1%;
	margin-bottom: 5%;
	background-color: black;
}
.clearfix{
	overflow: auto;
}
.project-image{
/*	margin-bottom: 3%;*/
}
.project-image img{
/*	width: 50%;*/
	top: 0;
	left: -84px;
	width: 564px;
	height: 376px;
	position: relative;
}
.project-title{
	font-family: 'Roboto',sans-serif;
	font-size: 1em;
	height: 40px;
	margin-bottom: 10px;
}
.project,.project-image{
/*	padding-bottom: 100%;*/
	line-height: 0;
	text-align: center;
	position: relative;
	overflow: hidden;
	height: 18em;
}

/*parallax 2 */
section.parallax-2{
	background: url("../images/sf.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 90vh;
}

/*aboutMe section*/
.aboutMe{
	width: 100%;
	padding-bottom: 2.5em;

}
.grid-12{
	padding-top: 4.3em;
	padding-bottom: 3.2em;


}

/*image for about section*/
.col-7 img{
	width: 28em;
	float: left;
	margin-left: 9%;

}
.col-1{
	width: 10%;
	float: left;
	height: 34px;
}

.col-4{
	width: 35%;
	float: left;
}

.col-4 h2{
	font-family: 'Roboto', sans-serif;
	margin-bottom: 20px;
	font-size: 2em;
	

}

.content p{
	font-family: 'Roboto',sans-serif;
	font-weight: 100;
	font-size: .9em;
	line-height: 1.9em;
	width: 30em;
	color: #808080;

}

.contentInfo{
	margin:0 0 2em;
}

footer{
	width: 100%;
	height: 50px;
	bottom: 0;
	left: 0;
	background-color: #f4f4f2;

	text-align: center;
	clear: both;
	color: #808080;
}
footer p{
	text-align: center;
	font-family: 'Roboto', sans-serif;

	padding: 15px 15px;
	font-weight: 100;
}

